@import url(reset.css);
@font-face {
  font-family: Limelight;
  src: url("/Fonts/Limelight/Limelight-Regular.ttf");
  font-family: MontserratM;
  src: url("/Fonts/Limelight/Montserrat-Medium.ttf");
  font-family: MontserratR;
  src: url("/Fonts/Limelight/Montserrat-Regular.ttf");
}

body {
  background-image: url("/images/triangle.jpg");
  backdrop-filter: blur(4px) sepia(65%) grayscale(50%);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 1rem;
  background-color: #f8c7c6;

  width: 18rem;
  height: 36rem;

  border-radius: 2rem;
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255, 0.5);
  width: 65%;
  height: 35%;
  border-radius: 1rem;
  transition: 0.2s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.img-container:hover {
  transform: scale(1.1);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.bgImage {
  border: 3px solid rgb(246, 244, 248);
  width: 9rem;
  height: 9rem;
  border-radius: 50%;
  background-image: url(/images/chii1.jpg);
  background-size: cover;
  background-position: 66%;
}

.profile-info {
  width: 85%;
  height: 19rem;
  border-radius: 1rem;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  background-color: #f8f7eb;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
}
p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #e1b9af;
  width: 85%;
  height: 4.5rem;
  border-radius: 0.5rem;
  font-family: MontserratR;
  text-align: center;
  /* Animation */
  transition: 0.2s;

  box-shadow: 0 4px 9px rgba(0, 0, 0, 0.2);
}
p:hover {
  transform: scale(1.1);
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.2);
}
.name {
  font-family: Limelight, Verdana;
  font-size: 25px;
}

span {
  font-family: MontserratM, sans-serif;
  font-weight: 900;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 500px) {
  article {
    width: 35rem;
    height: 27rem;
  }

  .profile-info {
    padding: 20px;
    width: 32rem;
    height: 8rem;
    border-radius: 1rem;
    flex-direction: row;
    gap: 1rem;
  }
  p {
    height: 4.5rem;
  }
  .img-container {
    width: 39%;
    height: 48%;
  }
}

@media (min-width: 768px) {
  body {
    display: flex;
    justify-content: center;
  }

  article {
    width: 40rem;
    height: 19rem;
    flex-direction: row;
    gap: 1rem;
    justify-content: space-evenly;
    align-items: center;
  }

  .img-container {
    width: 40%;
    height: 80%;
  }

  .bgImage {
    width: 12rem;
    height: 12rem;
  }

  .profile-info {
    flex-direction: column;
    justify-content: space-around;
    width: 40%;
    height: 80%;
  }
}
